

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 

header, .hero{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: #242e3b;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;   
}

ul{
    display: flex;
    list-style-type: none;
    gap: 15px;
}

a{
    text-decoration: none;
    color: white;
}

.hero{
    height: 100vh;
}

.hero-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding-left: 50px;
    padding-top: 80px;
}

.hero-img img{
    width: 500px;
    height: auto;
}

.hero-text p, .hero-text h1{
    max-width: 320px;
    padding-bottom: 10px;
}



#sign-up{
    background-color: #3882f6;
    color: white;
    padding: 6px 10px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
    margin-top: 5px;
}



.books h1 {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.books-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    gap: 25px;
    margin-bottom: 20px;
}


.book {
  flex: 1 1 200px;       
  max-width: 250px;
  padding-bottom: 30px;
}


.book img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.book p{
    text-align: center;
    max-width: 200px;
    font-size: 18px;
}


.testimonial{
    background-color: #E5E7EB;
    padding: 70px 150px;
}


.testimonial p{
    font-size: 20px;
    font-weight: 700;
    width: 70%;
    padding-top: 20px;
    margin: 0 auto;
}

.testimonial blockquote{
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
}







